<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="econtact-db-sql" value= "data source=dhb-crmdb002.centralservices.local;initial catalog=econtact_cendyn_teamdev;uid=eInsightCRM_Service_Maropost;pwd=988Tjaq1;MultipleActiveResultSets=True"/>
    <add key="eInsightETLQueueAddress" value="amqp://localhost" />
    <add key="eInsightETLQueueName" value="RequestETLQueue" />
  </appSettings>
</configuration>