<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="econtact-db-sql" value= "data source=DHB-ARDB003.CENTRALSERVICES.LOCAL;initial catalog=econtact_cendyn_qa;uid=eInsight_DynamicContentService;pwd=einsight$123#;MultipleActiveResultSets=True"/>
    <add key="eInsightETLQueueAddress" value="amqp://localhost" />
    <add key="eInsightETLQueueName" value="RequestETLQueue" />
  </appSettings>
</configuration>